body {
  background: #f7eac9 url(../img/body-bg.png);
}
/* ********** Fonts files ******************* */
/* ********** Base Settings **************** */
main {
  padding-top: 10%;
  padding-bottom: 10%;
}
.section-header {
  margin-bottom: 5%;
}
.section-header h2 {
  font-size: 50px;
}
.section-header p {
  font-size: 16px;
}
/* ************* Base colors **************** */
header {
  background: #876a4f url(../img/head-bg.jpg);
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 2px 1px 10px 3px #6e5334;
}
header p {
  color: #fff;
  font-size: 60px;
  font-weight: bold;
  letter-spacing: 10px;
  text-align: center;
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.79);
}
/* LG - Large Devices, Desktops Wide Screens */
/* MD - Medium Devices, Desktops */
/* SM - Small Devices, Tablets  */
/* XS - Extra Small Devices, Phones */
@media only screen and (max-width: 767px) {
  header p {
    font-size: 50px;
    letter-spacing: 6px;
  }
}
/* XS - Extra Small Devices, Phones */
@media only screen and (max-width: 479px) {
  header p {
    font-size: 40px;
    letter-spacing: 4px;
  }
}
main .item {
  margin-bottom: 50px;
  text-align: center;
}
main .item img {
  margin: 0 auto 15px;
}
main .item p {
  font-size: 16px;
  color: #000;
}
main .item a {
  display: inline-block;
  margin: 10px 20px;
  padding: 7px 25px;
  border-radius: 30px;
  background-image: linear-gradient(45deg, #6ab1d7 0%, #33d9de 50%, #002878 100%);
  background-position: 100% 0;
  background-size: 200% 200%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 300;
  color: white;
  text-decoration: none;
  outline: none;
  box-shadow: 0 16px 32px 0 rgba(0, 40, 120, 0.35);
  transition: 0.35s;
}
main .item a:hover {
  box-shadow: 0 5px 20px 0 rgba(0, 40, 120, 0.35);
  background-position: 0 0;
}
/* LG - Large Devices, Desktops Wide Screens */
/* MD - Medium Devices, Desktops */
/* SM - Small Devices, Tablets  */
/* XS - Extra Small Devices, Phones */
/* XS - Extra Small Devices, Phones */
